html {
  background: #efefef;
}

#page {
  margin: 60px 0 0 100px;
}

.aside {
  float: left;
  width: 200px;
}

.main {
  margin-left: 220px;
}

form {
  width: 400px;
  box-shadow: 0 0 5px #ddd inset;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 20px;
}

.row {
  padding: 5px 10px;
}

.row label {
  width: 50px;
  text-align: right;
  float: left;
  margin-right: 10px;
}

.row input[type="text"] {
  height: 24px;
  line-height: 24px;
}

.row .url,
.row .author {
  min-width: 270px;
}

.actions {
  margin-top: 20px;
  padding-left: 70px;
}

.actions button {
  height: 24px;
  line-height: 24px;
}